<h1>Todos los libros</h1>
{% for book in book_list %}
<ul>
    <li>Title: {{book.title}}</li>
    <li>Subtitle: {{book.subtitle}}</li>
    <li>Autor: {{book.author}}</li>
    <li>ISBN: {{book.isbn}}</li>
</ul>
{% endfor %}